<html>
    <head>
        <%if(!alert.oldVal){ %>
            <meta http-equiv="refresh" content="5; URL="/scrape">
         <%}%>   
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="../style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="../sevenSeg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.core.min.js"></script>
   


    </head>
    <body>
            
        <%if(alert.oldVal){ %>
            <script>
                
                    var sound = new Howl({
                                    src: ['../sounds/pinwheel.mp3']
                                    });
                    
                    sound.play();
                </script>
            <div class="alert alert-danger" role="alert">
                    Die Preise haben sich verändert!!
                    <a class="btn btn-button" href="/reset">OK</a>
            </div>
           
        <%}%>
    <div class="container">
        <h1>Preise Tankstelle Hoyer</h1>
    </div>    
    <div class="container">  
        <div class="row justify-content-center">
            <div class="recent col-md-6">
                    <div class="head">
                            <h2>Aktuell</h2>
                        </div>   
                    
                
                    <div class="kraftstoff">
                        <h4>Diesel</h4>
                        <div id="diesel" class="preise"></div>
                    </div>
                    <div class="kraftstoff">
                        <h4>Super</h4>
                        <div id="super" class="preise"></div>
                    </div>
                    <div class="kraftstoff"> 
                        <h4>Super +</h4>
                        <div id="superPlus" class="preise"></div>
                    </div>
                    <div id="datum">
                        
                        <span><%=preise.date%></span>      
                    </div>
                
            </div>
            <%if(alert.oldVal){ %>
            <div class="col-md-6" id="changes">
                <div class="head">
                    <h2>Neue Werte</h2>
                </div>   
                    <div class="kraftstoff">
                        <h4>Diesel</h4>
                        <div id="dieselNEU" class="preise"></div>
                    </div>
                    <div class="kraftstoff">
                        <h4>Super</h4>
                        <div id="superNEU" class="preise"></div>
                    </div>
                    <div class="kraftstoff"> 
                        <h4>Super +</h4>
                        <div id="superPlusNEU" class="preise"></div>
                    </div>
                
            </div>
            <%}%>
        </div>    
    </div>    
         <!--When Prices change   -->

    <%if(alert.oldVal){%>
            <%if(altePreise.diesel){ %>
                <script>
                    $("#diesel").sevenSeg({ digits: 4, value: <%=altePreise.diesel%>});
                </script>
            <%};%>    
            <%if(altePreise.sorteSuper){ %>
                <script>
                    $("#super").sevenSeg({ digits: 4, value: <%=altePreise.sorteSuper%>});
                </script>  
            <%};%>       
            <%if(altePreise.superPlus){ %>
                <script>
                    $("#superPlus").sevenSeg({ digits: 4, value: <%=altePreise.superPlus%>});
                </script>   
            <%};%> 
        <%if(preise.diesel != altePreise.diesel){%>
        <script>
            $("#dieselNEU").sevenSeg({ digits: 4, value: <%=preise.diesel%>});
            $("#dieselNEU .sevenSeg-segOn").css("fill", "red");
            $("#dieselNEU .sevenSeg-svg").css("fill", "#320000");

            
        </script>
        <%}%>
        <%if(preise.sorteSuper != altePreise.sorteSuper){%>
        <script>
            $("#superNEU").sevenSeg({ digits: 4, value: <%=preise.sorteSuper%>});
            $("#superNEU .sevenSeg-segOn").css("fill", "red");
            $("#superNEU .sevenSeg-svg").css("fill", "#320000");
        </script>
         <%}%>
         <%if(preise.superPlus != altePreise.superPlus){%>
        <script>
            $("#superPlusNEU").sevenSeg({ digits: 4, value: <%=preise.superPlus%>});
            $("#superPlusNEU .sevenSeg-segOn").css("fill", "red");
            $("#superPlusNEU .sevenSeg-svg").css("fill", "#320000");
        </script>
         <%}%>   
            
        
            
       

    <%} else {%>
        <script>
            $("#diesel").sevenSeg({ digits: 4, value: <%=preise.diesel%>});
            $("#super").sevenSeg({ digits: 4, value: <%=preise.sorteSuper%>});
            $("#superPlus").sevenSeg({ digits: 4, value: <%=preise.superPlus%>});
        </script>
        <%};%>


    <%if(!alert.oldVal){ %>   
        <script>
       
         


      

         setTimeout(function(){
                            window.location.reload(1);

                            }, 5000);



        </script>               
    <%}%>

    </body>

</html>





