<html>
    <head>
    
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="../style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="../sevenSeg.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.1/howler.core.min.js"></script>
    <script src="../ajax.js"></script>

  


    </head>
    <body>
        

     
    <div class="container">
        <h1>Pricetracker</h1>
    </div>    
    <div class="container" id="mainWindow">
        <div class="row justify-content-center" id="headLine">
                <div class="col-md-12 head">
                        <h3>Preise</h3>
                </div>
             
        </div>  
       
                <div class="row justify-content-center">
                    <div class="col-md-6">
                            <div class="kraftstoff row">
                                <h4 class="col-md-4">Diesel</h4>
                                <div id="diesel" class="preise"></div>
                            </div>
                    </div>
                    <%if(data.alert.oldVal){%>
                    <div class="col-md-6">   
                            <div class="kraftstoff row">
                                <div class="arrow">
                                    <i class="fas fa-exchange-alt"></i>
                                </div>
                                <div id="dieselNEU" class="preise"></div>
                            </div>
                    </div>        
                    <%}%>    
                </div>  
                <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="kraftstoff row">
                                <h4 class="col-md-4">Super</h4>
                                <div id="super" class="preise"></div>
                            </div>
                        </div>
                    <%if(data.alert.oldVal){%>
                        <div class="col-md-6">
                            <div class="kraftstoff row">
                                <div class="arrow">
                                    <i class="fas fa-exchange-alt"></i>
                                </div>
                                <div id="superNEU" class="preise"></div>
                            </div>
                        </div>
                    <%}%>  
                </div>  
                <div class="row justify-content-center">   
                        <div class="col-md-6">
                            <div class="kraftstoff row"> 
                                <h4 class="col-md-4">Super +</h4>
                                <div id="superPlus" class="preise"></div>
                            </div>
                        </div>
                    <%if(data.alert.oldVal){%>
                        <div class="col-md-6">
                            <div class="kraftstoff row">
                                <div class="arrow">
                                    <i class="fas fa-exchange-alt"></i>
                                </div> 
                                <div id="superPlusNEU" class="preise"></div>
                            </div>
                        </div>    
                    <%}%>  

                </div>        
           
            
       
    </div> 
    
    <div class="container" id="footer">
        <div class="row justify-content-between" id="footLine">
            <div class="col-md-6">
            <h3>About</h3>
            </div>
            <div class="col-md-6">
                <h3 style="float:right">ver. 1.09</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <span>&copy; 2019 Jens Frerichs </span><br>
                    <a href="https://github.com/idealistic91/priceDataScraper">GitHub-repository</a>
                    
            </div>
           
        </div>


    </div>
         <!--When Prices change assign new  -->

    <%if(data.alert.oldVal){%>
        <!-- Show head "neue werte" -->
            <script>
            
            </script>


            <%if(altePreise.diesel){ %>
                <script>
                    $("#diesel").sevenSeg({ digits: 4, value: <%=altePreise.diesel%>});
                </script>
            <%};%>    
            <%if(altePreise.sorteSuper){ %>
                <script>
                    $("#super").sevenSeg({ digits: 4, value: <%=altePreise.sorteSuper%>});
                </script>  
            <%};%>       
            <%if(altePreise.superPlus){ %>
                <script>
                    $("#superPlus").sevenSeg({ digits: 4, value: <%=altePreise.superPlus%>});
                </script>   
            <%};%> 
        <%if(preise.diesel != altePreise.diesel){%>
        <script>
            $("#dieselNEU").sevenSeg({ digits: 4, value: <%=preise.diesel%>});
            $("#dieselNEU").parent().children(".arrow").children(".fas.fa-exchange-alt").css("display", "inline");
            $("#dieselNEU .sevenSeg-segOn").css("fill", "red");
            $("#dieselNEU .sevenSeg-svg").css("fill", "#320000");

            
        </script>
        <%}%>
        <%if(preise.sorteSuper != altePreise.sorteSuper){%>
        <script>
            $("#superNEU").sevenSeg({ digits: 4, value: <%=preise.sorteSuper%>});
            $("#superNEU").parent().children(".arrow").children(".fas.fa-exchange-alt").css("display", "inline");
            $("#superNEU .sevenSeg-segOn").css("fill", "red");
            $("#superNEU .sevenSeg-svg").css("fill", "#320000");
        </script>
         <%}%>
         <%if(preise.superPlus != altePreise.superPlus){%>
        <script>
            $("#superPlusNEU").sevenSeg({ digits: 4, value: <%=preise.superPlus%>});
            $("#superPlusNEU").parent().children(".arrow").children(".fas.fa-exchange-alt").css("display", "inline");
            $("#superPlusNEU .sevenSeg-segOn").css("fill", "red");
            $("#superPlusNEU .sevenSeg-svg").css("fill", "#320000");
        </script>
         <%}%>   
            
        
            
       

    <%} else {%>
        <script>
            $("#diesel").sevenSeg({ digits: 4, value: <%=preise.diesel%>});
            $("#super").sevenSeg({ digits: 4, value: <%=preise.sorteSuper%>});
            $("#superPlus").sevenSeg({ digits: 4, value: <%=preise.superPlus%>});
        </script>
        <%};%>


    <%if(!data.alert.oldVal){ %>   
        <script>
       
        
        scanForPrices(0);
    
    
        </script>               
    <%}%>
        <script>

               
        
        </script>

    </body>

</html>





